.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input {
    width: 15rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    border: none;
    padding-left: 0.5rem;
}

.errorMessage {
    color: red;
    font-size: 0.85rem;
    
}