.header {
  display: flex;
  justify-content: end;
  gap: 1rem;
  height: 7rem;
  padding-right: 10rem;
  align-items: flex-end;
}

.header a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header a[aria-current="page"] {
  color: #6feaf6;
}
