/* som layout.css */

.pageLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 7rem);
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.button {
  margin-top: 1.5rem;
}

